html,
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(216, 187, 201);
}
/**body {
    background-image: url("https://uploads0.wikiart.org/images/m-c-escher/two-birds.jpg!Large.jpg");    
    background-color: #cccccc;     
}
#escher-birds {
    background-image: url("https://uploads0.wikiart.org/images/m-c-escher/two-birds.jpg!Large.jpg");    
    background-color: #cccccc; 
    opacity: .2  
}**/

nav {
    width: 100%;
    background: linear-gradient(to bottom right, beige, skyblue);
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    font-size: 30px;
    text-decoration: none;
}

nav a:visited {
    color: blue;
}

nav a:hover {
    color: hotpink;
}

.current-page {
    background-color: white;
}

main {
    margin: 0 10%;
    
}
main h1 {
background-color: #adebf3;
}

p {
    background-color:#adebf3;  
}

div h2, h4 {
    background-color: #adebf3;
}